.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: 0;
  margin: 0;
  background-color: #000;
 

  
}

body{
  background-color: black;
}
.all-content{
  transition: .2s;
  filter: blur(30px);


}
.none{
  filter: none;
}


.underline{
  display: block;
  background-color: greenyellow;
  border: 1rem solid black;
  width: 6rem;
  height: 5px;
  justify-content: center;
  margin: auto;
  border-radius: 5rem;

}

/* home start */

.home img{
  width: 35vw;
}
.home{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.hometext{
  margin: 0;
  padding-left: 2rem;
}
.hometext p{
  margin: 0;
}
.xe{
  align-items:end;
  font-size: 5vw;
  color: greenyellow;
  margin: 0;
  font-weight: 700;
  width: 20vw;
  line-height: 4vw;
  padding: 2rem 0;


}
.grab{
  width: 25vw;
  padding: 2rem 0;
  color: #bababa;
  font-size: 1rem;
}

/*mediaq*/
@media only screen and (max-width: 900px) {
  .home {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .xe{
    font-size: 7vw;
    line-height: 6vw;
  }
  .grab{
    width: 50vw;
    padding-top: 1rem;
  }
  .home img{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50vw;
    transform: translate(1rem ,0) ;
  }
  
}


/* navbar styla */

.navbar{
  background-color: transparent;
  color: white;
  padding:0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;

}
.navbar img{
  width: 6rem;
  padding: 0 5rem 0 5rem 0;
}
.heading{
  display: flex;
  gap: 1.5rem;
  color: #bababa;

}
 .link {
  list-style: none;
  text-decoration: none;
  transition: .2s;
  color: #bababa;
}
.link {
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .2s;

}
.link:hover{
  color: #e31c69;
  text-decoration: underline;
}
.login{
  display: flex;
  gap: 1rem;
  align-items: center;

}
.login button{
  border: none;
  padding: .4rem 1rem;
  border-radius: 2px;
  background-color: rgba(172, 255, 47, 0.925);
  color: #000;
  font-size: .9rem;
  letter-spacing: 0;
  font-weight: 500;
  cursor: pointer;

}
.resbar{
  display: none;
}
/*media*/
@media only screen and (max-width: 900px) {
  .navbar{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
 
  
  
}




/* ingredians page */
.ingrediants-top{
  display: flex;
  background-color: #000;
  color: white;
  justify-content: center;
}

.ingrediants{
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
 
}
.ingrediants img{
  width: 35vw;
}
.displaynone{
  height: 0px;
  transition: .2s ease-in-out;
  opacity: 0;
}
.display{
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 69px;
  transition: .3s ease-in-out;

  
}
.ingrediant-component{
  display: grid;
  gap: 1rem;
  cursor: pointer;
 
}
.heading{
  font-size: 3rem;
}
.ing-w{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
}
.single{
  max-height: 3rem;
  transition:  .2s;
}
.single{
  width: 25rem;
  background-color: #303030;
  padding: 1rem;
  border-radius: .5rem;
  max-height: 6rem; 
}
.rotate{
  transition: .2s; 
}
.rotate{
  rotate: 90deg;
}
.rotateback{
  transition: .2s;
}

/*media*/
@media only screen and (max-width: 900px) {
  .singleproduct{
    display: flex;
    justify-content: center;
    background-color: #000000;
  }
  .ingrediants{
    display: grid;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    
  }
  .ingrediants img{
    width: 20rem;
    padding-top: 2rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
  }
  .ingrediant-component{
    width: 3vw;
  }
  .single{
    width: 15rem;
  }
  .ing-w{
    font-size: 1rem;
  }

  
  
  
}
/* promo vidio page */


.vidio{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 20rem 0;
}
video{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
 padding-top: 3rem;
  background-color: #000;
}
.vidio H1{
  color: white;
  margin: auto;
}


/* allproducts css */

.cost{
  font-size: 3rem;
  padding: 2rem 0;
  color: rgb(3, 189, 3);
}

.productsall{
  background-color: #000;
  color: rgb(255, 255, 255);
  display: grid;
  justify-content: center;
  padding: 0;


}

h1{
  padding: 0;
  margin: 0;
}
.singlecard{
  background-color:#303030 ;
  
}
.singleproduct{
  display: flex;
  justify-content: center;
  align-items: center;
 


}
.cards{
  display: flex;
  gap: 1rem;
}
.singlecard{
  width: 8vw;
  display: grid;
  height: 10vw;
  border-radius: .5rem;
  min-height: 140px;
  min-width: 70px;
  max-width: 150px;
}
 .singleproduct img{
  width: 30vw;
  max-width: 28vw;
}
.singleproduct h1{
  font-size: 3vw;
  padding-bottom: 2rem;
}
.percentage{
  display: grid;
  justify-content: center;
  margin: 0;
  padding: .5rem;
  background-color: #0f0f0f;
}
.amount-per-serving{
  padding: 1.1rem 1rem ;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 1rem;
  text-align: center;
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
  letter-spacing: 1.2px;

}
.Total-fat{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 2vw;
  margin: 0;
  padding: 1rem;
  color: rgb(160, 160, 160);
 
}
button{
  padding: 1rem 3rem;
  margin: 3rem 0;
  border: none;
  background-color: #e31c69;
  font-size: larger;
  border-radius: .5rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease;  
  

}
button:hover{
  transform: translateY(-5px);

}
button:active{
  background-color: #000;
  color: white;
}


/*media querry*/
@media only screen and (max-width: 900px) {
 
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr   ;
    justify-content: space-around;
    justify-content: center;
  }
  .singleproduct{
    display: grid;
    justify-content: center;
    
    
  }
  .singleproduct img{
    min-width: 15rem;
  }
  .singlecard{
    background-color:#303030 ;
    width: 6rem;
    font-size: 1rem;
   
  }
  .Total-fat{
    font-size: 1.5rem;
  }
  .amount-per-serving{
    font-size: 1rem;
  }
  .singleproduct button {
    margin-top: 0;
  }
  .product{
    transform: translate(0,-4rem);
  }
 
  
}


/* cart css */

.sub-num{
  font: 3px;
  color: #bababa;
}
.sub-price{
  font-size: 2.5rem;
  font-weight: 700;
}
.IoCloseSharp{
  cursor: pointer;
  transition: .2s;

}
.IoCloseSharp:hover{
  background-color: #363636;
}
.subtotal{
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 0 2rem;
}
.subtotal button{
  margin: 0;
  
}
.cart-buy-btn{
  background-color: #e31c69;
  color: white;
  border: none;
  border-radius: .6rem;
  padding: .5rem 2rem;
  cursor: pointer;
  transition: .2s;
  font-size: 1rem;
}
.cart-buy-btn:hover{
  background-color: white;
  color: black;
}

.carthead{
  position: sticky;
  top: 0;
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.shopping-cart{
  padding: 0 1rem;
}

.displaycart{
  background-color: #000;
  color: white;
  width: 30rem;
  height: 70vh;
  overflow: auto;
  transition: 1s;
  position: fixed;
  top: 30px;
  right: 4px;
  border-radius: 1rem;
  margin: 1rem;

}
.displaycartnone{
  transition: 2s;

  
}
.displaycartnone{
  display: none;
  transition: 2s;
}

.displaycart h1{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
.cart-main{
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding: 1rem;
}
.cart-main img{
  width: 9rem;
}
.cart-main input{
  background-color: #303030;
  border: none;
  color: rgb(156, 156, 156);
  padding: .6rem;
  width: 3rem;
  border-radius: .5rem;
  margin: .6rem;
  
}
.cart-main input:focus{
  background-color: #303030;
  margin: 0;
  outline: none;
  padding: .6rem;
  width: 3rem;
  padding: .6rem;
  margin: .6rem;


}
hr{
  border: solid #303030 1px;
}
.price{
  font-size: 1.5rem;
}
a{
  color: bisque;
}
.cartproductinfo{
  padding: 1rem;
}
.cartproductname{
  font-size: larger;
  padding: 1rem 0;
}
.instock , .freeship{
  font-size: .8rem;
  color: #bababa;
}
/*media*/
@media only screen and (max-width: 600px) {
  .displaycart {
    width: 24rem;
    height: 55rem;
  }
}
/* Footer css */

.footer{
  background-color:#0f0f0f ;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 8rem;
}
.footer img{
  height: 22vw;
  padding-left: 1px;
}
.footer li {
  list-style-type: none;
  padding: 3rem 0;
  padding-left: 0;
}
.footer li ul{
  padding: 0;
  color: #f4f4f4b6;
  font-size: 1.2rem;
  transition: .1s;
  cursor: pointer;
}
.about , .more-info , .legal{
  padding-top: 3rem;
}
.footer li ul:hover {
  color: chartreuse;
}

.cart-count{
 
  width: 100%;
  height: 100%;
  
 
}
.cart-counts{
  position: absolute;
  transform: translate(28px,-60px);
  pointer-events: none;
  font-weight: 700;
  font-size: 1.6rem;
  color:chartreuse;
 
}
::-webkit-scrollbar-track {
  background-color: #e40000;
  width: 4rem;


}
@media only screen and (max-width: 900px) {
 
  .footer{
    display: grid;
  }
  
}

