.App {
  text-align: center;
  background-color: antiquewhite;
  
}

body{
  background: rgb(102,255,70);
  background: linear-gradient(90deg, rgba(102,255,70,1) 0%, rgba(0,255,4,1) 53%, rgba(0,182,30,1) 100%);
}