.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

.underline{
  display: block;
  background-color: greenyellow;
  border: 1rem solid black;
  width: 6rem;
  height: 5px;
  justify-content: center;
  margin: auto;
  border-radius: 5rem;

}

/* home start */


.home img{
  width: 35vw;
}
.home{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem 0 10rem;
  margin: auto;
  height: 100vh;
 

}
.hometext{
  margin: 0;
}
.hometext p{
  margin: 0;
}
.xe{
  align-items:end;
  font-size: 12vh;
  color: greenyellow;
  margin: 0;

}
.grab{
  font-weight: 700;
}
.button{
  padding-top: 2rem;
}
.hometext button{
  background-color:#e31c69 ;
  margin: 0;
  border: none;
  width: 7rem;
  height: 2rem;
  border-radius: 3px;
  color: white;
}
/* navbar styla */
.navbar{
  background-color: #000;
  color: white;
  padding:0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: 1rem;
}
.navbar img{
  width: 6rem;
  padding: 0 5rem 0 5rem 0;
}
.heading{
  display: flex;
  gap: 1rem;

}
.heading li{
  list-style: none;
  font-size: 1.5rem;

}
.login{
  display: flex;
  gap: 1rem;
  align-items: center;

}
.login button{
  border: none;
  padding: .3rem 1rem;
  border-radius: 2px;
  background-color: greenyellow;

}

/* ingredians page */

.ingrediants{
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
 
}
.ingrediants img{
  width: 50rem;
}
.displaynone{
  display: none;
}
.display{
  padding-top: 1rem;
}
.ingrediant-component{
  display: grid;
  gap: 1rem;
  cursor: pointer;
 
}
.heading{
  font-size: 3rem;
}
.ing-w{
 
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
}
.single{
  max-height: 2rem;
  transition:  .2s;

}
.single{
  width: 25rem;
  background-color: #303030;
  padding: 1rem;
  border-radius: .5rem;
  max-height: 5rem;
  
}
.rotate{
  
  transition: .2s;
  
}
.rotate{
  rotate: 90deg;
  
  
}
.rotateback{
  transition: .2s;

}


/* promo vidio page */
.vidio{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 20rem 0;
}
video{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65vw;
 padding-top: 3rem;
  background-color: #000;
}
.vidio H1{
  color: white;
  margin: auto;
}


/* allproducts css */

.productsall{
  background-color: #000;
  color: rgb(255, 255, 255);
  display: grid;

}
h1{
  padding: 0;
  margin: 0;
}
.singlecard{
  background-color:#303030 ;
  
}
.singleproduct{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;


}
.cards{
  display: flex;
  gap: 1rem;
}
.singlecard{
  width: 8.5rem;
  display: grid;
  height: 9rem;
  border-radius: .5rem;
}
 .singleproduct img{
  width: 30vw;
  position: relative;
  left: 4rem;
}
.singleproduct h1{
  font-size: 3vw;
  padding-bottom: 2rem;
}
.percentage{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: .5rem;
  background-color: #0f0f0f;
}
.amount-per-serving{
  padding: 1.1rem 1rem ;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1.2px;

}
.Total-fat{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 0;
  padding: 1rem;
}
.singleproduct button{
  padding: 1rem 3rem;
  margin: 3rem 0;
  border: none;
  background-color: #e31c69;
  font-size: larger;
  border-radius: .5rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

/* cart css */
.displaycart{
  background-color: #000;
  color: white;
  display: grid;
  justify-content: center;
}
.displaycart h1{
  display: flex;
  justify-content: center;
}
.cart-main{
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding: 1rem;
}
.cart-main img{
  width: 9rem;
}
.cart-main input{
  background-color: #303030;
  border: none;
  color: rgb(156, 156, 156);
  padding: .6rem;
  width: 3rem;
  border-radius: .5rem;
  margin: .6rem;
  
}
.cart-main input:focus{
  background-color: #303030;
  margin: 0;
  outline: none;
  padding: .6rem;
  width: 3rem;
}
hr{
  border: solid #303030 1px;
}
.price{
  font-size: 1.5rem;
}
a{
  color: bisque;
}
.cartproductinfo{
  padding: 1rem;
}
.cartproductname{
  font-size: larger;
  padding: 1rem 0;
}
.instock , .freeship{
  font-size: .8rem;
  color: #bababa;
}